* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at top, #1c1c1c, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    width: 100%;
    max-width: 380px;
    height: 100vh;
    background: #000;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 40px rgba(255, 149, 0, 0.15);
    overflow: hidden;
}

/* Display */
#display {
    width: 100%;
    height: 120px;
    font-size: 52px;
    text-align: right;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: 0.2s ease;
    
}


.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.btn {
    flex: 1;
    height: 75px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    background-color: #333;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
}


.btn:hover {
    background-color: #444;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}


.btn:active {
    transform: scale(0.9);
}


.operator {
    background-color: #ff9500;
    color: white;
}

.operator:hover {
    background-color: #ffad33;
    box-shadow: 0 0 20px rgba(255, 149, 0, 0.6);
}


.gray {
    background-color: #a5a5a5;
    color: black;
}

.gray:hover {
    background-color: #cfcfcf;
}


.zero {
    flex: 2;
    border-radius: 40px;
}


.equalbtn {
    background-color: #ff9500;
}

.equalbtn:hover {
    background-color: #ffad33;
}


.btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: scale(1);
    opacity: 0;
    pointer-events: none;
}

.btn:active::after {
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: width 0.4s ease, height 0.4s ease, opacity 0.8s ease;
}